html {
    background: #eeece8;
}

p {
    font-family: 'Raleway', sans-serif;
}

.offer {
    background-color: #53342e;
    color: white;
    text-align: center;
    padding: 20px;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap; /*direction wrap*/
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

.main {
    flex: 3 0px; 
}

.aside {
    align-self: center;
    flex: 1 0 0;  /*grow shrink basis*/
}

.fa-user-circle {
    margin-right: 1rem;
}

nav {
    padding: 0 7rem;
    margin: 3rem;
}

ul {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
}

li {
   padding: 1rem;
}

li a {
  color: rgb(36, 28, 20);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

li a:hover {
    text-decoration: underline;
}

input {
    background: transparent;
    border: none;
}